.app-container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #181b34;
  color: white;
  transition: margin-left 0.3s;
}

.content.collapsed {
  margin-left: 50px;
}

.content.expanded {
  margin-left: 250px;
}
